body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.nav-item-link{
    text-decoration: none;
    color: #e6e6e6;
    margin: 10px;
    transition: .5s;
}
.nav-item-link:hover{
    color: rgb(158, 158, 158);
    background-color: #e6e6e6;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 50px;
}

.title{
    /* animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    position: absolute;
}

.navbar{
    height: 40px;
    width: 100%;
    position: fixed;
    color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    z-index: 1;
}
.navbar-about{
    color: rgb(158, 158, 158);   
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
.nav-logo{
    font-weight: 300;
    font-size: 1rem;
    border: 2px solid #e6e6e6;
    height: 50%;
    padding: 9px;
    border-radius: 10px;
    margin: 0;
    margin-left: 20px;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}



.hero{
    background: url("spider.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}
.header{
    color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin: 0;
    padding-left: 20px;
    padding-top: 150px;
    font-weight: 800;
    overflow: hidden;
}

.header-none{
    display: none;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  .about-header{
    font-size: 4rem;
}
#about{
    height: 100vh;
    background: #eeeeee;
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative;
    overflow: hidden;
    }
.about-main-header h2{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
}
.about-main-header h2::after{
    content: "";
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid #5a5a5a;
    bottom: 0;
    left: 0;
}

.about-box-who{
    height: 25%;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.about-box-who p{
    position: absolute;
    bottom: 0;
}
.about-header{
    position: absolute;
    top: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about-header:after{
    content: "";
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid #5a5a5a;
    bottom: 0;
    right: 0;
}
.about-header:after{
    content: "";
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid #5a5a5a;
    bottom: 0;
    left: 0;
}

.about-box-why{
    height: 25%;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.about-box-why p{
    position: absolute;
    bottom: 0;
}
.about-box-what{
    height: 25%;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
.about-box-what p{
    position: absolute;
    bottom: 0;
}

.black{
    color: black;
}

@media (max-width: 600px){
    .nav-list{
        display: none;
    }
    .about-main-header h2{
        font-size: 3rem;
    }
    .about-box-who h2{
        display: none;
    }
    .about-box-why h2{
        display: none;
    }
    .about-box-what h2{
        display: none;
    }
}
@media (max-height: 500px){
    .title{
        font-size: 2rem;
    }
}
@media (max-width: 1000px){
    .hero{
        background-position-x: center;
        background-position-y: center;
    }
    .header{
        font-size: 2rem;
        padding-top: 200px;
    }
    .about-main-header h2{
        font-size: 2.5rem;
    }
    .about-box-who h2{
        font-size: 2rem;
    }
    .about-box-why h2{
        font-size: 2rem;
    }
    .about-box-what h2{
        font-size: 2rem;
    }
}
@media (max-height: 1000px){
    .hero{
        background-position-y: center;
    }
}
@media (min-width: 1920px){
    .hero{
        background-position-x: center;
        background-position-y: center;
    }
}

#gallery{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #5a5a5a;
    position: relative;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    position: relative;
}
.gallery--item{
    width: 30%;
    padding: 10px;
}
.gallery-container img {
   
    width: 100%;
    
}



